.button-filter-parent{
   position: relative;
}
.button-filter{
    width: 100%;
    font-weight: 600;
    height: 4.5rem;
    line-height: 6rem;
    font-size: 1.4rem;
    border-bottom:4px solid var(--blue-glass); 
    /* border-top:1px solid var(--blue-glass);  */
    border-radius: 5rem;
    color: var(--blue-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    transition: all 150ms ease-in-out;
    gap: 0.5rem;   
    box-shadow: -2px 3px 5px 1px var(--blue-main);
}

.button-filter a {
    color: var(--blue-dark);
}

.button-filter:hover{
    border-bottom:6px solid var(--blue-glass); 
    border-radius: 2rem;
    cursor: pointer;
}
.button-filter-icon{
    transition: all 400ms ease-in-out 50ms;
    stroke: var(--blue-dark);
}

.menu-filter-list{
    padding-right: 0;
}
.menu-filter-wrapper{
    background-color: var(--white);
    color: var(--blue-dark);
    text-align: center;
    font-size: 1.4rem;
    padding-left: 3rem ;
    padding-top:1.5rem ;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    opacity: 0; 
    transition:all 300ms ease-in;   
    z-index: 2; 
    max-height: 20rem;
    overflow: auto;
    margin-top: 0.5rem;
}
/* برای Chrome، Edge و Safari */
.custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-dark);
}

/* برای Firefox */
.custom-scroll {
  scrollbar-width: thin; /* یا auto یا none */
  scrollbar-color: var(--blue-dark) transparent;
}


.menu-filter-link{
    text-decoration: none;
    color: var(--blue-dark);
    margin-bottom: 0.6rem;
    transition:all 150ms ease-in;  
    display: block;
    cursor: pointer;
    position: relative;
}
.menu-filter-item{
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    transition: all 150ms ease-in-out;

}
.menu-filter-item:hover{
    transform: scale(1.2);
}
.menu-filter-item.color{
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--blue-dark);
  border-radius: 10px;
}
.menu-filter-list:has(.menu-filter-item.color){
  display: grid;
  grid-template:auto/1fr 1fr 1fr ;
}





@media (max-width:576px) {

   .button-filter{
    font-size: 1.2rem;
   }
}