.button-filter-wrapper{
   
}
.button-filter{
    width: 100%;
    font-weight: 600;
    height: 4.5rem;
    line-height: 6rem;
    font-size: 1.4rem;
    border:1px solid var(--blue-glass); 
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem;
    transition: all 250ms ease-in-out;
    gap: 0.5rem;   
}

.button-filter a {
    color: var(--blue-dark);
}

.button-filter:hover{
    background-color: var(--blue-glass);
    cursor: pointer;
}
.button-filter-icon{
    transition: all 400ms ease-in-out 50ms;
    stroke: var(--blue-dark);
}

.menu-filter-list{
    padding-right: 0;
}
.menu-filter-wrapper{
    background-color: var(--white);
    color: var(--blue-dark);
    font-size: 1.4rem;
    padding-left: 4rem ;
    padding-top:1.5rem ;
    padding-bottom: 1.5rem;
    border-radius: 0 1.5rem 1.5rem 0;
    font-weight: 600;
    position: absolute;
    opacity: 0; 
    transition:all 300ms ease-in;   
    z-index: 10; 
    height: 20rem;
    overflow: auto;
    
}
/* برای Chrome، Edge و Safari */
.custom-scroll {
  overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-dark);
}

/* برای Firefox */
.custom-scroll {
  scrollbar-width: thin; /* یا auto یا none */
  scrollbar-color: var(--blue-dark) transparent;
}


.menu-filter-link{
    text-decoration: none;
    color: var(--blue-dark);
    margin-bottom: 0.6rem;
    transition:all 150ms ease-in;  
    display: block;
    cursor: pointer;
    position: relative;
}
.menu-filter-item{
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    transition: all 150ms ease-in-out;

}
.menu-filter-item:hover{
    transform: scale(1.2);
}

