
.section-main-product-details{
    width: 100%;
    display: grid;
    grid-template: 1fr/2fr 3fr 2fr;
    gap:3rem;
        
}


/* --Image-section-------------------------------- */
.img-product-wrapper{
    width: 38rem;
    height: 55rem;
    justify-self: center;
}



/* --Image-details-------------------------------- */
.details-product-wrapper{
   padding-right: 2rem;
}
.det-product-title{
  font-family: "lalezar";
  font-size:3rem;
  color: var(--blue-dark);
  display: flex;
  align-items: center;
  
   
}
.det-product-title svg{
 margin-left: 1rem;
}

.det-product-size-wrapper{
  
}

.det-product-size{  
  font-family: "mikhakBold";
  color: var(--blue-dark);
  font-size: 1.8rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.det-help-size{
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--blue-main);
    display: flex;
    align-items: center;
    gap: 0.3rem;
 }
 .det-help-size:hover{
    color: var(--blue);
 }
.det-product-size-label-wrapper{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.det-product-size-label-wrapper label{
    border: 3px solid var(--blue-dark);
    border-radius: 20px;
    padding: 6px 13px;
    color: var(--blue-dark);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
.det-product-size-label-wrapper input:checked +label{
    background-color: var(--green-main);
}
.det-product-size-label-wrapper input{
  display: none;
}
.det-price-wrapper{
  margin-top: 5rem;
}
.det-price-wrapper h3{
  font-family: "mikhakBold";
  color: var(--blue-dark);
  font-size: 1.8rem;
}
.det-price-wrapper h3 span{
  font-size: 1.4rem;
  color: var(--blue-main);
}
.det-price{
    font-family: "MikhakBold";
    color: var(--blue-dark);;
    position: relative;
    margin-top: 1.5rem;
    margin-right: 2rem;
}
.det-price-main{
  margin-right: 5rem;
}
.det-price-main.off{
    color: rgb(144, 164, 174);
    text-decoration: line-through;
    font-size: 1.6rem;
    margin-right: 0.5rem;
}
.det-price-main.off+.det-price-unit{
    color: rgb(144, 164, 174);
}
.det-price-main, .det-price-after-off{
  font-size: 3.2rem;
}
.det-price-after-off{
  margin-right: 2.5rem;
}
.det-price-unit{
    font-family: "Mikhak";
    font-size: 1.2rem;
    padding-right: 0.5rem;
}
.det-basket{
  display: grid;
  grid-template: auto/1fr 1fr 4fr;  
  align-items: center;
  margin-top: 1rem;
}
.title-number{
  margin-top: 4rem
}
.title-number h3{
  font-family: "mikhakBold";
  color: var(--blue-dark);
  font-size: 1.8rem;
  
}
.input-number-wrapper{
    margin-right: 7rem;
    margin-top: 1rem;
}
.btn-product-basket{
  font-family: "mikhakBold";
  border: 3.5px solid var(--blue-dark);
  width: 19rem;
  background-color: var(--blue-glass);
  border-radius: 3rem;
  padding:1rem 1.6rem ;
  color: var(--blue-dark);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-right:7rem;
  margin-top:3rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.btn-product-basket:hover{
  cursor: pointer;
  border-radius: 1rem;
  background-color: var(--green-main);
}

/* --Option-section-------------------------------- */
.option-product-wrapper{

}
.option-product {
    display: flex;
    align-items: center;
    gap:0.7rem;
    color: var(--blue-dark);
    font-weight: 600;
    background-color: var(--blue-glass);
    padding: 2rem 2rem;
    border-radius: 5rem;
    margin-bottom: 3rem;
    transition: all 250ms ease-in-out;
    text-align: center;
    line-height: 2.8rem;
}
.option-product:nth-child(3){
  font-size: 1.3rem;
}
.option-product-svg-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-quality{
   
}
.option-delivery{

}




/* --swiper--------------------------------- */

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.mySwiper2.swiper-details-product {
  max-height: 80%;
  max-width: 100%;
}
.mySwiper.swiper-details-product-bottom {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper.swiper-details-product .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper.swiper-details-product {
  width: 100%;
}
.swiper.swiper-details-product.mySwiper2:hover {
  cursor:zoom-in;
}

.mySwiper .swiper-slide.swiper-slide-visible :hover{
 cursor:pointer ;
}
.mySwiper .swiper-slide {   /*reset css default*/
  opacity: 1 !important;
}
.swiper-details-product-bottom .swiper-slide {
  opacity: 0.4 !important;
  
}
.swiper-details-product-bottom .swiper-slide-thumb-active{
  opacity: 1 !important;
}
.swiper-zoom-container{
  border: 0.8rem solid var(--blue-main);
  border-radius: 4rem;
  /* overflow: hidden; */
}
.swiper-zoom-container img{
  border-radius: 3rem;
}

/* ---description-Prodcut--------------------------------------- */
.tab-wrapper{
  margin-top: 5rem;
}
.tab-title-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "lalezar";
  border-bottom: 3px solid var(--blue-dark);
  height: 0.5rem;
 
}

.tab-title-label{
  color: var(--blue-dark);
  background-color: var(--white);
  border: 3px solid var(--blue-dark);
  padding: 1.5rem 2rem;
  border-radius: 4rem;  
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 6rem;
}
.tab-title:hover,.tab-title-label:hover{
  cursor: pointer;
}
.tab-title-input:checked+.tab-title-label {
  color: var(--white);
  background-color: var(--blue-dark);
} 
.tab-body-wrapper{
  background-color: var(--blue-glass);
 line-height: 3rem;
 padding: 3rem 6rem;
}
.tab-body-feature{
  text-align: justify;
  color: var(--blue-dark);
  transition: all 250ms ease-in-out;
  opacity: 0;
  height:0;
  margin-top: 3rem;
}
.tab-body-feature span{
  font-family: "mikhakBold";
  margin-left: 1rem;
  font-size: 1.8rem;
  
} 
.tab-body-specification{
  transition: all 250ms ease-in-out;
  opacity: 0;
  height: 0;
}
.product-table{
    table-layout: auto;
    width: 100%;
    margin-top: 3rem;
}
.product-table-body{

}
.product-table-tr{
  border-bottom: 0.5px solid rgba(30, 30, 86, 0.196);

}
.product-table-tr:last-child{
  border-bottom: none;
}
.product-table-td{
  padding: 1.2rem;
}

.product-table-td:nth-child(1){
  font-family: "mikhakBold";
  font-size: 1.8rem;
  color: var(--blue-dark);
}
.product-table-td:nth-child(2){
  font-weight: 600;
  color: var(--blue-main);
  padding-top: 2rem;

}
.tab-body-comment{
  transition: all 250ms ease-in-out;
  opacity: 0;
  height: 0;
}
.write-comment-wrapper{
  margin-top: 1rem;
}
.write-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.write-comment textarea{
  width: 33rem !important;
  border-radius: 2rem;
  padding: 2rem;
  font-family: "mikhak";
  border:3px solid var(--blue-main);
  outline: none;
  color: var(--blue-dark);
}
.write-comment-label,.rate-title{
  font-family: "mikhakBold";
  color: var(--blue-dark);
}
.write-comment a{
  width: 10rem !important;
  margin-right: 23rem;
}

.rate-stars{
 

}
.rate-title{

}
.publish-comment{
  color: var(--blue-dark);
  font-weight: 600;
  font-size: 1.4;
  margin-top: 2rem;
  position: relative;
}
.publish-comment::after{
  position: absolute;
  content:"";
  width:100%;
  height: 1px;
  background-color: var(--blue-glass);
  margin-top: 1rem;
}
.name-user-comment{
  font-family: "mikhakBold";
  font-size: 1.8;
  color: var(--blue-dark);
}

.comment-user{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem ;
  color: var(--blue-dark);
}
.publish-comment-wrapper{
  margin-top: 5rem;

}
.publish-commnet-title{
  font-family: "lalezar";
  font-size: 2rem;
}

.date-commnet{
  font-size: 1.3rem;
  color: var(--blue);
}










/* /responsive------------- */

@media (max-width:1400px) {
   
}

@media (max-width:1210px) {
    
   
}
@media (max-width:1090px) {
      .product-basket{
        margin-right: 1.5rem;
      }
      .option-product{
      position: relative;
      margin-bottom: 6rem;
      justify-content: center;
      text-align: center;
      padding: 1rem;
      line-height: 1.7rem;
    }
    .option-product-svg-parent{
      position: absolute;
      top: -24px;
      width: 60px;
      padding-top:2px ;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: var(--blue-glass);
      border-radius: 20px 20px 0 0;
    }
    .option-product span{
      font-size: 1.2rem;
    }
      
}
@media (max-width:992px) {
    .section-main-product-details{
      grid-template: auto/2fr 3fr;
    }
    .option-product-wrapper{
      display: grid;
      grid-template: 1fr/1fr 1fr 1fr 1fr;
      grid-row-start:2 ;
      grid-column-start: 1;
      grid-column-end: 3;
      gap: 1rem;
      
    }
}

@media (max-width:800px) {
    .img-product-wrapper{
    width: 30rem;
    height: 45rem;
    justify-self: center;
    }
    .section-main-product-details {
      gap: 1rem;
    }
    .option-product-wrapper{
      display: grid;
      grid-template: auto/1fr 1fr;
    }

}
@media (max-width:690px) {
     .section-main-product-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
     .img-product-wrapper{
    width: 38rem;
    height: 57rem;
    justify-self: center;
    }
      .option-product-wrapper{
      margin-top:5rem;
    }

}

@media (max-width:576px) {
     .img-product-wrapper{
    width: 33rem;
    height: 50rem;
    justify-self: center;
    }
}
















