.shoppingcart-empty{
    margin: 15rem auto;
    display: grid;
    justify-items: center;
    gap: 2rem;
}
.shoppingcart-empty-img{
    max-width: 30%;
}
.shoppingcart-empty-title{
    font-family: "mikhakBold";
    font-size: 1.8rem;
    color: var(--blue-dark);
    background-color: var(--green-main);
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
}


.shoppingcart-page{
    margin: 16rem auto;
    display: grid;
    grid-template:auto/5fr 2fr;
    gap: 1rem;

}
.shoppingcart-wrapper{
    padding: 3rem;
    max-width: 80rem;
    box-shadow: 0 0 10px var(--blue-glass);
    border-radius: 3rem;
    font-family: "mikhakBold";
    font-size: 1.6rem;
    color: var(--blue-dark);
    justify-self: center;
} 
.shoppingcart-item{
    display: grid;
    grid-template-columns: 1fr 5fr;
    border-bottom: 2px solid var(--blue-glass);
    margin-bottom: 1.2rem;
    padding-bottom: 1rem;
    gap: 2rem;
} 
.shoppingcart-item:last-child{
    border-bottom: none;
}
.shoppingcart-item-image img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 3rem;
    border: 3px solid var(--blue-dark);
}

.shoppingcart-item-details{
    display: grid;
    grid-template-columns: 5fr 4fr 4fr 1fr;
    gap: 1.5rem;
    align-self: center;

}
.shoppingcart-item-title{
    justify-self: center;
    align-self: center;
    line-height: 2rem
}
.shoppingcart-item-price{
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}
.shoppingcart-item-price-unit{
    font-size: 1.2rem;
    transform: rotate(-90deg);
    display: inline-block;
    color: var(--blue-glass);
}
.shoppingcart-item-quantity{
    justify-self: center;
    align-self: center;
}
.shoppingcart-item-quantity label{

}
.shoppingcart-item-quantity input{

}
.shoppingcart-item-remove-btn{
    justify-self:end;
    align-self: center;
    cursor: pointer;
}
.shoppingcart-item-remove-btn svg{
    stroke: var(--blue-dark);
    
}
.shoppingcart-item-remove-btn:hover{
    opacity: 0.7;
}



@media (max-width:790px) {
    .shoppingcart-page{
        grid-template: auto/1fr;
    }
    .shoppingcart-item-details{
        grid-template:1fr/ 3fr 2fr 2fr 1fr;
    }
    .shoppingcart-empty-title{
    font-size: 1.7rem;
    padding: 2rem 3rem;
    }
   .shoppingcart-empty-img{
    max-width: 45%;
    }
    .shoppingcart-item-image img{
    width: 11rem;
    height: 11rem;
    }
}
@media (max-width:690px) {
  
    .shoppingcart-item-details{
         grid-template: 1fr 1fr/1fr 1fr;
         width: 100%;
    }
     .shoppingcart-item-remove-btn{
        justify-self: center;
    }
     .shoppingcart-item-image img{
    width: 15rem;
    height: 15rem;
    }
}

@media (max-width:576px) {
    .shoppingcart-wrapper{
        width:85%;
    }
    .shoppingcart-item{
         grid-template: auto/1fr 
    }
    .shoppingcart-item-image{
        justify-self: center;
        margin-bottom: 1rem;
    }
    .shoppingcart-empty-img{
    max-width: 70%;
    }
    .shoppingcart-empty-title{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    }
   
   
}

