.wrapper-input{
    display: flex;
    flex-direction: column;
    margin: 1.8rem 1rem;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2rem;
    width: 100%;

}
.label-login{
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    position: absolute;
    font-family: "mikhakBold";
    top: 1.4rem;
    color: var(--blue-main);
    transition: all 300ms ease-in-out;
}
.label-login.click{
    top: -2.4rem;
    color: var(--blue-main);
    margin-right: 1rem;
    font-size: 1.6rem;
}
.input-login{
    height: 4.5rem;
    border-radius: 2rem;
    color: var(--blue-dark);
    font-family: "mikhak";
    font-weight: 600;
    box-shadow: 0 4px 10px var(--blue-main);
    border: none;
    outline: none;
    padding: 0 2rem;
    transition: all 300ms ease-in-out;
}
.input-login[type="password"]{
    font-size: 2.3rem;
}
.input-login[type="textarea"]{
    padding-top: 1rem;
    resize: none;
}
.eyepassword{
    position: absolute;
    left: 1.5rem;
    top:1.4rem;
    color:var(--blue-main);
    cursor: pointer;
}
.eyepassword-none{
    display: none;
}



/* ----subMenu---- */
.list-city-submenu{
    width: 15rem;
    height: 0;
    background-color: var(--blue-glass);
    border-radius: 10px;
    overflow: auto;
    position: absolute;
    padding: 2rem;
    opacity: 0;
    top: 0;
    z-index: -1;
    transition: all 300ms ease-in-out;
}
.list-city-submenu.active{
    z-index: 1;
    top: 5rem;
    height: 20rem;
    opacity: 1;
}
.list-city{

}
.list-city-item{
    padding-bottom: 2rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    font-family: "mikhak";
    font-weight: 600;
    font-size: 1.2rem;
}
.list-city-item:hover{
    transform: translateX(-5px);
}


.list-Village-submenu{
    width: 15rem;
    height: 0;
    background-color: var(--blue-glass);
    border-radius: 10px;
    overflow: auto;
    position: absolute;
    padding: 2rem;
    opacity: 0;
    top: 0;
    z-index: -1;
    transition: all 300ms ease-in-out;
}
.list-Village-submenu.active{
    z-index: 1;
    top: 5rem;
    height: 20rem;
    opacity: 1;
}
.list-Village-submenu.empty{
    z-index: 1;
    top: 5rem;
    height: 6.5rem;
    opacity: 1;
    overflow: hidden;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;


}
.list-city-item-empty{
    padding-bottom: 2rem;
    transition: all 250ms ease-in-out;
    font-family: "mikhak";
    font-weight: 600;
    font-size: 1.4rem;

}
.list-city-item-empty span{
    font-family: "mikhakBold";
    border-bottom: 1px solid var(--blue-main);
    padding: 0 3px;
}
.list-Village-item{
    padding-bottom: 2rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    font-family: "mikhak";
    font-weight: 600;
    font-size: 1.2rem;
}
.list-Village-submenu.active .list-Village .list-Village-item:hover{
    transform: translateX(-5px);
}


/* برای Chrome، Edge و Safari */
.custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-dark);
}

/* برای Firefox */
.custom-scroll {
  scrollbar-width: thin; /* یا auto یا none */
  scrollbar-color: var(--blue-dark) transparent;
}
