.panel-wrapper{
    margin-top: 15rem;
    display: grid;
    grid-template: auto/2fr 8fr;
    gap: 2rem;
}
.side-panel{
    width: 25rem;
    height: 35.2rem;
    background-color: var(--blue-main);
    border-radius: 3rem 3rem 0 0;
    border: 2px solid var(--blue-glass);
    padding: 4rem 0rem ;
    box-shadow: 0 0 10px var(--blue-main);
    position: sticky;
    top: 10rem;
}
.body-panel{
    box-shadow: 0 0 10px var(--blue-main);
    border-radius: 3rem 3rem 0 0;
    height: 50rem;
}
.side-panel-profile{
    border-bottom: 2px solid var(--blue-glass);
    color: var(--blue-glass);
    padding-right:3.5rem ;
    padding-bottom: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-family: "MikhakBold";
}
.side-panel-profile-img{
    

}
.side-panel-profile-name p:first-child{
    margin-bottom: 0.8rem;
    color: var(--blue-glass);
}
.side-panel-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--blue-glass);
    color: var(--white);
    padding: 2rem 3.5rem;
    font-family: "MikhakBold";
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.side-panel-item:hover{
    background-color: var(--green-main);
    color: var(--blue-dark);
    
}
.side-panel-item:last-child{
    border-bottom: none;
}