.wide-image-wrapper {
    width: 100%;
    margin: 5rem 0;
    border: 8px solid var(--blue-main);
    border-radius: 4rem;
    overflow: hidden;
    aspect-ratio:5 / 2 
  
}

.wide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}