.comp-mybtn{
    padding: 0.5rem 2rem;
    background-color: var(--green-main);
    border-radius: 1.5rem;
    color:var(--blue);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.comp-mybtn:hover{
    background-color: var(--blue-main);
    color:var(--green-main);
}