.divider-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
}
.line-right-divider{
    background-image: linear-gradient(to right,var(--blue-main),#007bff00);
    width: 40%;    
    height: 0.3rem;

}
.line-left-divider{
    background-image: linear-gradient(to left,var(--blue-main),#007bff00);
    width: 40%;
    height: 0.3rem;
}
.title-divider-wrapper{
    background-color: var(--blue-main);
    border-radius:2rem ;
    width: 16rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-divider{
    font-family: "Lalezar";
    color: var(--green-main);
    font-size: 1.8rem;
}


