.container{
    width: 100%;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-right: auto;
    margin-left: auto;
}
.section{
    margin-top: 7rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem;
   
}
.titleh1{
    font-family: "Lalezar";
    color: var(--blue-main);
    font-size: 7rem;
}
.titleh3{
    color: var(--green-main);
    font-family: "MikhakBold";
    font-size: 3.5rem;
}
.titleh5{
    color: var(--blue-main);
    font-size: 2.5rem;
    /* font-weight: 600; */
    margin-top: 1.5rem;
}
.mybtn{
    padding: 2rem 3rem;
    background-color: var(--green-main);
    border-radius: 4rem;
    color:var(--blue);
    text-decoration: none;
    font-family: "MikhakBold";
    margin-top: 3rem;
    font-size: 1.8rem;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mybtn:hover{
    color:var(--green-main);
    background-color: var(--blue);
}
.mybtn-svg{
    transition: all 250ms ease-in-out;;
}
.mybtn:hover .mybtn-svg{
    transform: translateX(-5px);
}
.img-woman{
    display: flex;
    justify-content: left; 
}
.img-woman img, .img-men img{
    width: 34rem;
}



/* swiper----------- */
.swiper{
    width: 34rem;
    margin-left:0 !important;
    margin-right:0 !important;
    margin-top: 1rem;
}

.swiper .swiper-button-prev , 
.swiper .swiper-button-next,
.swiper .swiper-pagination-bullet{
    display: none;
}

.swiper-slide-shadow-flip{
    background: none !important;
}


/* /responsive------------- */

@media (max-width:1400px) {
   
}

@media (max-width:1210px) {
    .titleh1{
        font-size: 6rem;
    }
    .titleh3{
        font-size: 2.5rem;
    }
    .titleh5{
        font-size: 2.5rem;
    }
    .swiper, .img-woman img, .img-men img{
        width: 28rem;
    }
    
   
}

@media (max-width:992px) {
    .titleh1{
        font-size: 5rem;
    }
    .titleh3{

        font-size: 2.3rem;
    }
    .titleh5{
        font-size: 2rem;
    }
    .swiper, .img-woman img, .img-men img{
        width: 20rem;
    }
    .mybtn{
        padding: 1.3rem 2rem;
        margin-top: 0;
        font-size: 1.2rem;
    }
}

@media (max-width:768px) {
    .swiper, .img-woman img, .img-men img{
        width: 21rem;
    }
    .swiper-men{
        display: none !important;
    }

}

@media (max-width:576px) {
    .section{
        margin-top: 7rem ;
        display: grid;
        grid-template: 1fr 1fr /1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .title-wrapper{
        grid-column:1/span 2;
    }
    .swiper-men{
        display: inline !important;
        grid-row-start:2;
        justify-self: center;
    }
    .swiper-woman{
        justify-self: center;
    }
    .titleh1{
        font-size: 4.5rem;
    }
    .titleh3{

        font-size: 2.5rem;
    }
    .titleh5{
        font-size: 2rem;
    }
    .swiper, .img-woman img, .img-men img{
        width: 15rem;
    }
    .mybtn{
        padding: 0.8rem 1.2rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 1.3rem;
    }
     .swiper, .img-woman img, .img-men img{
        width: 17rem;
    }
}


















/* ////////////////////////////////// */
/* .swiper {
  width: 50rem;
  height: 45rem;
  text-align: left;
  margin-left:0 !important;
  margin-right:7rem !important;

}

.swiper-slide-shadow{
    background: none !important;
}
.swiper-slide img{
    filter: blur(3px) !important;
    width: 170px;
    height: 450px;
}
.swiper-slide-visible img{
    filter:blur(0) !important;
} */


