.container{
    width: 100%;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-right: auto;
    margin-left: auto;
}
.section{
    margin-top: 7rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem;
   
}
.titleh1{
    font-family: "Lalezar";
    color: var(--blue-main);
    font-size: 7rem;
}
.titleh3{
    color: var(--green-main);
    font-weight: 600;
    font-size: 3.5rem;
}
.titleh5{
    color: var(--blue-main);
    font-size: 2.5rem;

}

.mybtn{
    padding: 2rem 3rem;
    background-color: var(--green-main);
    border-radius: 2rem;
    color:var(--blue);
    text-decoration: none;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.8rem;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mybtn:hover{
    color:var(--green-main);
    background-color: var(--blue);
}
.mybtn-svg{
    transition: all 250ms ease-in-out;;
}
.mybtn:hover .mybtn-svg{
    transform: translateX(-5px);
}
/* .swiper {
  width: 50rem;
  height: 45rem;
  text-align: left;
  margin-left:0 !important;
  margin-right:7rem !important;

}

.swiper-slide-shadow{
    background: none !important;
}
.swiper-slide img{
    filter: blur(3px) !important;
    width: 170px;
    height: 450px;
}
.swiper-slide-visible img{
    filter:blur(0) !important;
} */

.img-woman{
    
   
}
.img-woman img{
    width: 28.5rem;
}
.img-men{

}
.img-men img{
    width: 34rem;
}



/* .mens img{
    position: absolute;
    bottom: 15rem;
    left: -2rem;
    width: 30rem;
    margin: 0 auto;
    filter: blur(2px); */

/* } */