.swiper-sliderProducts {
  width: 100%;
  height: 100%;
}

.img-sliderProduct {
  text-align: center;
  font-size: 18px;
  margin-top: 1.5rem;

  /* background: #444; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct{
  background-color: var(--green-main) ;
  border:8px solid var(--green-main)
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-img-wrapper{
  border-bottom-color: var(--green-main);
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-img-wrapper .CardProduct-img-cover{
  background-color: rgba(219, 232, 31, 0.38);
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-img-wrapper .CardProduct-add-to-card,
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-img-wrapper .CardProduct-view-more{
  background-color: var(--green-main);
  color: var(--blue-main);
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-img-wrapper .CardProduct-add-to-card:hover,
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-img-wrapper .CardProduct-view-more:hover{
  background-color: var(--blue-main);
  color: var(--white);
}

.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-info-wrapper{
    border-top-color: var(--green-main);
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct  .CardProduct-title-wrapper{
    background-color: var(--green-main) ;
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-title{
    color: var(--white) ;
}
.swiper-wrapper .img-sliderProduct:nth-child(even) .CardProduct .CardProduct-price{
    color: var(--blue-main) ;
}







/* .img-sliderProduct .CardProduct {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
