.swiper-sliderProducts {
  width: 100%;
  height: 100%;
}
  
.img-sliderProduct {
  text-align: center;
  font-size: 18px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .modal-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
} 

.modal-wrapper.active {
    opacity: 1;
    visibility: visible;
} 











