    /* --Modal---------------- */
.modal-help-size{
    position: fixed;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color:rgba(78, 78, 78, 0.8);
    z-index: 10005;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    /* visibility: hidden; */
}
.modal-help-size.active{
    opacity: 1;
    visibility: visible;
} 

.modal-help-size-content{
    width: 90%;
    max-width: 600px;
    height: 80%;
    background-color: var(--white);
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position:absolute;
    inset:0;
    margin:auto;
    transition: all 0.4s ease-in-out;
    top: -200rem;
}
.modal-help-size.active .modal-help-size-content{
    top: 0rem;
}
.modal-help-size-content h3{
    font-family: "MikhakBold";
    color: var(--blue-main);
    font-size: 2rem;
    text-align: center;
    line-height: normal;
}
.modal-help-size-content img{
    width: 70%;
    height: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(30, 153, 253, 0.8);
}