.nav{
    background-image: url('../../../public/images/navHeader.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
    height: 8rem;
    font-weight: 300;
    z-index: 10;
}

.nav-logo{
    
}
.nav-logo img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -55px;
    z-index: 1000;
}
.menu{
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-weight: 600;
    justify-items: center;

}
.menu-item:nth-child(3){
    opacity: 0
     
}
.menu-item a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.8rem;
}
.menu-item__active a{
    color: var(--green-main);
}
.icon-menu{
    display: flex;
    justify-content: flex-end;
    margin-left: 6rem;
    gap: 2rem;
    font-size: 0rem;
    align-items: center;
}
svg{
    
}
.login-icon svg{
    color: var(--white);   
}
.buy-icon svg{
    color: var(--white);   
}