.img-productpage-wrapper{
    margin-bottom: 2rem;
    padding-right: 0.5rem;
}
.img-productpage-wrapper img{
    border-radius: 3.5rem;
}
.table-product-wrapper{
    
    
}

.filter-proudct-wrapper{
    /* width: 100%; */
    height: 6rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--blue-glass);
    display: flex;
    align-items: center;
    gap: 1rem;

}
.all-product-wrapper{
    display: grid;
    grid-template: auto/ 1fr 1fr 1fr 1fr;
    gap: 2rem;
    
}
.product-item{
    /* width: 25rem; */
    justify-self: center;
    /* z-index: -2; */
}
.product-item .CardProduct{
    width: 95%;
}