/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* "Lalezar" */
@font-face {
    font-family: "Lalezar";
    src: url(../public/fonts/Lalezar.ttf) format('TrueType');
}
/* "Mikhak" */
@font-face {
    font-family: "Mikhak";
    src: url(../public/fonts/Mikhak.ttf) format('TrueType');
}
/* "Mikhak-Bold" */
@font-face {
    font-family: "MikhakBold";
    src: url(../public/fonts/Mikhak-Bold.ttf) format('TrueType');
}


*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
    --blue-main:#0096d5;
    --blue:#1fafca;
    --green-main:#dbe81f;
    --white:#ffffff;
}
html{
    font-size: 10px;
    font-family: "Mikhak";
    scroll-behavior: smooth;
    user-select: none;
}
body{
    font-size: 1.6rem;
    background-color: var(--dark-gray);
  
}
.container{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}